@font-face {
  font-family: 'MinhaFonte';
  src: url('../pasta/Fontes/StreetBreaker.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* Retângulo fixo embaixo */
#retangulo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* altura quando fechado */
  background: #191919;
  transition: all 0.4s ease;
  cursor: pointer;
  overflow: hidden; /* evita imagem escapar */
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* QUANDO ABERTO */
#retangulo.ativo {
  height: 100vh;
}

/* Imagem animada */
#upImg {
  width: 150px;
  opacity: 0;
  transform: translateX(-100px); /* começa fora da tela pela esquerda */
  transition: all 0.5s ease;
}

/* Quando o retângulo abre → imagem entra */
#retangulo.ativo #upImg {
  opacity: 1;
  transform: translateX(0);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'MinhaFonte';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #E6E6FA;
}

p {
  font-size: 18px;
  color: #444;
}

