@font-face {
  font-family: 'MinhaFonte';
  src: url('../pasta/Fontes/StreetBreaker.woff2') format('woff2'),
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'MinhaFonte';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #E6E6FA;
}

p {
  font-size: 18px;
  color: #444;
}

