@font-face {
  font-family: 'MinhaFonte';
  src: url('../pasta/Fontes/BluetagBoldItalic_PERSONAL_USE_ONLY.otf') format('opentype');
}
body {
  font-family: 'MinhaFonte', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'MinhaFonte', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 18px;
  color: #444;
}

