
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #E6E6FA;
}

p {
  font-size: 18px;
  color: #444;
}

