@font-face {
  font-family: 'MinhaFonte';
  src: url('../pasta/Fontes/BluetagBoldItalic_PERSONAL_USE_ONLY.otf') format('opentype');
}

body {
  font-family: 'MinhaFonte', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 18px;
  color: #444;
}

